<article class="post">
<div class="title">
<h1>
    {{recipe.title}}
</h1>
</div>
<div class="subtitle">
    Submitted by {{user.username}} on {{recipe.created_at}}
</div>
<div class="meta">
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>

</div>