<article class="post">
<div class="title">
<h1>
    {{this.title}}
</h1>
</div>
<div class="subtitle">
    Submitted by {{this.username}} on {{format_date this.created_at}}
</div>

<div class="description">
  {{ this.description }}
</div>

<div class="meta">
    <a href="/recipe/{{this.id}}">{{this.comments.length}} {{format_plural "comment" this.comments.length}}</a>
  </div>

</div>
</article>