<div class="recipe-list">
    {{#each recipes as |recipe|}}
    
        {{!-- <article class="recipe">
            <div class="title">
                <a href="/recipe/{{recipe.id}}" target="_blank">{{recipe.title}}</a>
                by {{recipe.user.username}} on {{recipe.created_at}}
            </div>
            
        </article> --}}
        <div class="card recipe" style="width: 18rem;">
  {{!-- <img class="card-img-top" src="" alt="Card image cap"> --}}
  <div class="card-body">
    <h5 class="card-title title"><a href="/recipe/{{recipe.id}}" target="_blank">{{recipe.title}}</a> </h5>
    
    <p class="card-text">by {{this.user.username}} on {{format_date recipe.created_at}}</p>
    <div class="meta">
               
        <a href="/recipe/{{id}}">{{recipe.comments.length}} comment(s)</a>
    </div>
  </div>
</div>
    {{/each}}
</div>
