<ol class="post-list">
    {{#each recipe as |recipe|}}
    <li>
        <article class="post">
            <div class="title">
                <a href="{{post.post_url}}" target="_blank">{{recipe.title}}</a>
                {{!-- need url field first: by {{post.user.username}} on {{recipe.created_at}} --}}
        
            </div>
            <div class="meta">
               
                <a href="/post/{{id}}">{{recipe.comments.length}} comment(s)</a>
            </div>
        </article>
    </li>
    {{/each}}
    </ol>